.NavItem a {
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-size: 18px;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

.NavItem a:active,
.NavItem a.active {
  border-color: rgb(107, 107, 107);
}

.NavItem a:hover {
  color: rgb(0, 0, 0);
}

@media(max-width:550px) {
  .NavItem {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}