.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 1rem .5rem;
  text-transform: uppercase;
}

@media(max-width:550px) {
  .Nav {
    flex-direction: column;
    align-items: flex-end;
  }
}